body {
  overflow: hidden;
}

.container {
  padding: 0 20px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  overflow: hidden;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  right: -100%;
  /* filter: blur(5px); */
  /* box-shadow: -7px 0px 5px rgba(0, 0, 0, 0.5); */
}

.sidebar-item-box {
  padding: 10px 30px;
}

.sidebar-item-box:nth-child(1) {
  margin-top: 80px;
}

a {
  color: #fff;
  text-decoration: none;
}

.sidebar-item-box:hover {
  cursor: pointer;
  background: #eeeeee5d;
  transition: 0.3s;
}

.open {
  transform: translateX(-400px);
  transition: transform 0.5s;
}
.closed {
  transform: translateX(400px);
  transition: transform 0.5s;
}

.menu1 div,
.menu2 div {
  cursor: pointer;
  width: 60px;
  height: 60px;
  margin: 10px auto 60px auto;
  position: relative;
  border-radius: 15px;
}

.menu1 span,
.menu2 span {
  background: #fff;
  width: 60%;
  height: 3px;
  border-radius: 5px;
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s;
  box-shadow: -3px 5px 5px rgba(0, 0, 0, 0.5);
}

.menu2 span:nth-child(1) {
  left: 40%;
  width: 40%;
}
.menu2 span:nth-child(3) {
  left: 60%;
  width: 40%;
}

.menu1 span:nth-child(1),
.menu2 span:nth-child(1) {
  top: 30%; /* 첫 번째 span 위치 */
}

.menu1 span:nth-child(2),
.menu2 span:nth-child(2) {
  top: 50%; /* 두 번째 span 위치 */
}

.menu1 span:nth-child(3),
.menu2 span:nth-child(3) {
  top: 70%; /* 세 번째 span 위치 */
}

/* version_1 */
.active1 span:nth-child(1) {
  transform: translate(-1.1rem, 0.7rem) rotate(135deg);
  box-shadow: 5px -3px 5px rgba(0, 0, 0, 0.5);
}
.active1 span:nth-child(2) {
  width: 0;
}
.active1 span:nth-child(3) {
  transform: translate(-1.1rem, -0.8rem) rotate(-135deg);
  box-shadow: -3px -5px 5px rgba(0, 0, 0, 0.5);
}

/* version_2 */
.active2 span:nth-child(1) {
  z-index: 1;
  transform: translate(-0.6rem, 0.9rem) rotate(-225deg);
  box-shadow: 5px -3px 5px rgba(0, 0, 0, 0.5);
}
.active2 span:nth-child(2) {
  z-index: 1000;
  transform: translate(-50%, -60%) rotate(225deg);
  box-shadow: -3px -5px 5px rgba(0, 0, 0, 0.5);
}
.active2 span:nth-child(3) {
  z-index: 0;
  transform: translate(-0.85rem, -1.1rem) rotate(-225deg);
  box-shadow: 5px -3px 5px rgba(0, 0, 0, 0.5);
}

/* version_3 */
.active3 span:nth-child(1) {
  transform: translate() rotate();
}
.active3 span:nth-child(2) {
  transform: translate() rotate();
}
.active3 span:nth-child(3) {
  transform: translate() rotate();
}
